:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin menuBtn($bgColor, $borderColor, $fontColor) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  flex: 1 0 auto;
  // flex-grow, flex-shrink, flex-basis
  padding: 5px 18px;
  background-color: $bgColor;
  border: 0.5px solid $borderColor;
  border-radius: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 13px;
  color: $fontColor;
  @content;
}
@mixin articleBox($bgColor, $borderColor, $fontColor) {
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  height: 180px;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: $bgColor;
  border: 0.7px solid $borderColor;
  font-size: 26px;
  font-family: "Libre Baskerville", serif;
  line-height: 1.3;
  color: $fontColor;
  @content;
}
@mixin articleBoxInfo($bgColor, $borderColor, $fontColor) {
  padding: 7px 10px;
  border-radius: 20px;
  border: 1px solid $borderColor;
  background-color: $bgColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 10px;
  color: $fontColor;
  @content;
}

body {
  padding: 0px;
  margin: 0;
  background-color: #000000;
  &::-webkit-scrollbar {
    display: none;
  }
}

.backGround {
  position: relative;
  width: 390px;
  height: 135vh;
  // margin-left: 25vw;
  background-color: #000000;
  .menu {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 10px;
    padding: 10px;
    overflow-x: scroll;
    background-color: #000000;
    &::-webkit-scrollbar {
      display: none;
    }
    .menu__button {
      @include menuBtn(#000000, #ffffff, #ffffff);
      &:first-of-type {
        padding: 0 10px;
        height: auto;
        &:hover {
          @include menuBtn(#ffffff, #000000, #000000);
          padding: 0 10px;
          height: auto;
        }
      }
      &:hover {
        @include menuBtn(#ffffff, #000000, #000000);
      }
    }
  }
  .article {
    position: absolute;
    top: 65px;
    width: 100%;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 180px);
    grid-auto-flow: row;
    justify-content: center;
    &::-webkit-scrollbar {
      display: none;
    }
    .article__box {
      @include articleBox(#292d34, #ffffff, #e4e4e4);
      transition: filter 0.3s ease;
      &:nth-child(2) {
        @include articleBox(#ffffff, #000000, #000000);
      }
      &:nth-child(3) {
        @include articleBox(#fafdc1, #000000, #000000);
        grid-column: span 2;
        font-size: 32px;
      }
      &:nth-child(4) {
        @include articleBox(#b7a4f8, #000000, #000000);
      }
      &:nth-child(5) {
        @include articleBox(#ffd3d3, #000000, #000000);
      }
      &:nth-child(6) {
        @include articleBox(#cffedd, #000000, #000000);
        grid-column: span 2;
        font-size: 32px;
      }
      &:nth-child(even) {
        .article__box--info:first-child {
          @include articleBoxInfo(#ffdd2d, #000000, #000000);
        }
      }
      &:nth-child(odd) {
        .article__box--info:first-child {
          @include articleBoxInfo(#e9affc, #000000, #000000);
        }
      }
      &:hover {
        filter: brightness(1.2) contrast(150%);
        box-shadow: 0 0 10px #e4e4e467;
      }
      .article__box--bottomBar {
        position: absolute;
        bottom: 18px;
        width: 83%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        line-height: 0.01;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        .article__box--charge {
          position: absolute;
          z-index: 1;
          top: 32px;
          height: 6px;
          width: 63%;
          border-radius: 5px 0 0 5px;
          background-color: #ffffff;
        }
        .article__box--bar {
          height: 6px;
          width: 100%;
          border-radius: 5px;
          background-color: #616161;
        }
      }
      .article__box--bottom {
        position: absolute;
        bottom: 12px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .article__box--info {
          @include articleBoxInfo(#ffffff, #000000, #000000);
        }
      }
    }
  }
}
